@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700&display=swap');

:root{
    --text-color-white:#ffffff;
    --text-color-black:#000000;
    --bg-color-01:#dadada;
    --color-00:#0000001a;
    --color-03:#471b96;
    --color-04:#c0c0c0;
    --color-05:#232323;
    --color-06:#004ea2;
    --color-07:#666;
    --color-09:#6600ff;
    --color-10:#3333ff;
    --color-11:#212d80;
}

/* Estilos globais */
*{
    margin: 0; /* Remove todas as margens externas padrão dos elementos */
    padding: 0; /* Remove todos os preenchimentos internos padrão dos elementos */
    box-sizing: border-box; /* Define o modelo de caixa para incluir bordas e preenchimentos dentro da largura/altura */
    text-decoration: none;/* Remove sublinhados ou outros estilos decorativos padrão dos textos (como em links) */
    border: none; /* Remove bordas padrão de elementos como botões ou campos de entrada */
    scroll-behavior: smooth; /* Torna o comportamento de rolagem mais suave, ideal para âncoras e navegações */
}

html {
    font-family: 'Poppins', sans-serif; /* Define a fonte principal do documento */
    font-size: 16px; /* Define o tamanho base da fonte */
}

body {
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
}

/* /Estilos globais */

.btn {
    text-align: center;
    background: #ff6b6b;
    color: white;
    padding: 12px 20px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

.btn:hover {
    background: #e05454;
}

/* Header */
header{
    position: fixed;
    width: 100%;
    height: 66px;
    padding: 20px 0;  
    background: var(--bg-color-01);
    transition: background 0.3s ease-in-out;
    justify-content: space-between;
    align-items: center;
    display: flex;
    z-index: 600;
}

.logo{
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
    padding: 20px;
}

.nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

.nav ul li {
    margin: 0 40px 0px 0px;
}

.nav ul li a {
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-color-black);
    transition: color 0.3s ease-in-out;
}

.nav ul li a:hover {
    color: var(--color-10);
}

/* Botão hamburguer */
.menu-toggle {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: var(--text-color-black);
}
  
/* /Header */

/* Hero */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 92vh;
    padding: 50px 10%;
    background-color: #f9f9f9;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--text-color-black);
    line-height: 1.3;
    gap: 50px;
}

.left-section {
    width: 60%;
}

.hero-benefits {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.benefit {
    text-align: center;
    flex: 1;
}

.benefit i {
    font-size: 2.2rem;
    color: #e05454; /* Ajuste para combinar com a paleta da empresa */
}

.benefit p {
    font-size: 1rem;
    margin-top: 20px;
}

.left-section h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #222;
    margin-bottom: 10px;
    
}

.left-section h2 {
    font-size: 1.5rem;
    color: #444;
    margin-bottom: 20px;
}

.left-section p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
    line-height: 1.5;
}

/* Seção de Imagens */
.gallery-container {
    max-width: 80vh;
    width: auto;
}

.swiper {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.hero-wrapper img {
    width: 550px;  /* Largura fixa */
    height: 550px; /* Altura fixa */
    object-fit: cover; /* Mantém a proporção cortando o excesso */
    border-radius: 10px; /* (Opcional) Bordas arredondadas para um visual mais moderno */
}
/* /Hero */

/* ABOUT SECTION */
.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    gap: 20px;
    text-align: center;
    background: var(--color-00);
}

.about-photo img {
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Efeito de sombra */
}

.box-about {
    width: 60%;
}

.box-about h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #222;
    margin-bottom: 15px;
}

.box-about h4 {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
}

.btn-container {
    margin-top: 30px;
}

/* Services */
.services{
    background: #f9f9f9;
    color: var(--text-color-black);
    width: 100%;
    height: auto;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}

.services h2{
    font-size: 2rem;
    margin-top: 2.5rem;
    color: var(--text-color-black);
}

.services-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    gap: 1.5rem;
}

.services-container, .services-box{
    padding: 2rem 1rem 2.5rem;
    border-radius: 1.2rem;
    text-align: center;
    background-color: var(--bg-color-02);
    transition: 0.5s ease;
}

.services-box{
    background: #ffffff;
    border: 2px solid #ddd;
    border-radius: 12px;
    padding: 2rem;
    width: 300px; /* Tamanho fixo para padronização */
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.services-container, .services-box:hover{
    border-color: var(--color-07);
    transform: scale(1.01);
}

.services-box i{
    font-size: 4.3rem;
    color: var(--text-color-black);    
    margin-bottom: 1rem;
}

.services-box h3{
    font-size: 1.5rem;
}

.service-desc{
    font-size: 0.95rem;
    color: #555;
}

.services-box:hover {
    border-color: #005bb5;
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
/* /Services */

/* Portfolio */
/* Estilo para o carrossel em linha (Swiper) */
.portfolio {
    padding: 20px;
    background-color: #f9f9f9; /* Fundo suave */
    text-align: center;
    color: #333;
}

.portfolio h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    margin-top: 2.5rem;
    color: #222; /* Cor do título */
}

/* Container do Swiper */
.container {
    width: 100%;
    height: 700px;
    margin: 10px;
}

.card-wrapper {
    display: flex;
    justify-content: center; /* Centraliza os cards horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.card-item {
    flex-shrink: 0; /* Garante que os itens não sejam redimensionados */
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    margin-top: 3rem;
}

.card-item:hover {
    transform: scale(1.05); /* Efeito de zoom no hover */
}

.card-link img {
    width: 400px;
    height: 400px;
    object-fit: cover; /* Ajusta a imagem para preencher o card */
    transition: all 0.3s ease-in-out;
    border-radius: 15px;
}

.card-link img:hover{
    border-color: #005bb5;
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Ajustes para o Swiper */
.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
    color: #00bcd4;
    font-size: 1.5rem;
    z-index: 10; /* Garante que as setas fiquem visíveis acima dos cards */
    transition: color 0.3s ease;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    color: #019ca0;
}

.swiper-pagination-bullet {
    background-color: #00bcd4;
}

.swiper-pagination-bullet-active {
    background-color: #019ca0;
}  

/* Formulario */
.contact{
    background: var(--bg-color-01);
    text-align: center;
    padding: 2rem;
    height: auto;
}

.contact h2{
    color: var(--text-color-black);
    font-size: 2rem;
    margin-top: 3.5rem;
}

.contact span{
    color: var(--color-11);
}

form{
    max-width: 45rem;
    margin: 0.6rem auto;
    text-align: center;
    margin-bottom: 2rem;    
}

form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .input-box input, form textarea{
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    color: var(--text-color-black);
    background-color: var(--text-color-white);
    border-radius: 0.5rem;
    margin: 0.4rem 0;
}

form textarea{
    resize: none;
}

.contact-icon-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    margin: 70px;
    color: var(--color-05);
}

.contact-icon-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0rem 3rem;
    padding: 1rem;
}

.contact-icon{
    height: 40px;
    width: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 2rem ;

    background: var(--color-white);
    padding: 1rem;
    border-radius: 50%;

}

.contact-icon i{
    font-size: 2rem;
    color: var(--color-05);
}

.contact-info span{
    font-size: 1.2rem;
    font-weight: bold;
}

.contact-info p{
    margin: 0.25rem 0rem;
}

.contact-info a{
    display: block;
    margin: 0.25rem 0rem;
    text-decoration: none;
    color: var(--color-white);
}

.contact-info a:hover{
    transition: color .3s ease;
    color: var(--color-11);
}

.btn-form{
    display: inline-block;
    padding: 10px 20px;
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    font-weight: bold;
    color: var(--text-color-black);
    background: transparent;
    border: 3px solid var(--color-04);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease;    
    margin-top: 30px;
}

.btn-form:hover{
    border: 3px solid var(--color-07);
}
/* /Formulario */

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    background-color: var(--color-07);
    color: var(--text-color-white);
}

/* Responsividade para telas menores (largura máxima de 768px) */

/* Responsividade  Header */
@media (max-width: 768px) {
    .menu-toggle {
      display: block;
      z-index: 1001;
    }
  
    .nav {
      position: absolute;
      top: 66px;
      left: 0;
      width: 100%;
      background: var(--bg-color-01);
      display: none;
      flex-direction: column;
      align-items: center;
      padding: 20px 0;
    }
  
    .nav.active {
      display: flex;
    }
  
    .nav ul {
      flex-direction: column;
      gap: 20px;
    }
  
    .nav ul li {
      margin: 10px 0;
    }
  }

/* Responsividade Hero */
@media (max-width: 1024px) {
    .hero {
        flex-direction: column;
        height: auto;
        padding: 50px 5%;
        text-align: center;
    }

    .left-section {
        width: 100%;
    }

    .gallery-container {
        max-width: 100%;
        margin-top: 30px;
    }

    .hero-wrapper img {
        width: 100%;
        height: auto;
    }

    .hero-benefits {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .benefit {
        max-width: 300px;
    }
}

@media (max-width: 768px) {
    .left-section h1 {
        font-size: 2rem;
    }

    .left-section h2 {
        font-size: 1.2rem;
    }

    .left-section p {
        font-size: 0.95rem;
    }

    .benefit p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .hero {
        padding: 40px 4%;
    }

    .left-section h1 {
        font-size: 1.6rem;
    }

    .left-section h2 {
        font-size: 1rem;
    }

    .left-section p {
        font-size: 0.9rem;
    }

    .benefit i {
        font-size: 1.8rem;
    }

    .benefit p {
        font-size: 0.85rem;
    }

    .btn {
        font-size: 0.9rem;
        padding: 10px 20px;
    }
}

/* Responsividade  About */

/* Responsividade  Services */
@media (max-width: 768px) {
    .services-container {
        flex-direction: column;
        align-items: center;
    }

    .services-box {
        width: 90%; /* Ajusta para ocupar mais espaço em telas pequenas */
    }
}

/* Responsividade  Portfolio */
@media (max-width: 768px) {
    .portfolio {
        padding: 20px;
    }

    .container {
        width: 100%;
    }

    .card-wrapper {
        flex-wrap: wrap; /* Ajusta os cards para quebrar linha se necessário */
        justify-content: center;
        gap: 10px; /* Espaço reduzido entre os cards */
    }

    .card-item {
        width: 100%; /* Cada card ocupa 100% da largura do container */
        max-width: 200px; /* Define uma largura máxima */
        height: auto; /* Ajusta a altura automaticamente */
    }

    .swiper-wrapper {
        flex-wrap: wrap; /* Permite a quebra de linha para os slides */
    }

    /* Ajustes para os textos */
    .portfolio h2 {
        font-size: 2rem; /* Reduz o tamanho do texto */
        margin-bottom: 20px;
    }

    /* Botões de navegação do Swiper */
    .swiper-button-prev,
    .swiper-button-next {
        font-size: 1.2rem; /* Reduz o tamanho das setas */
    }
    .hero-wrapper img, .about-photo img, .card-link img {
        max-width: 90%;
        margin: auto; /* Centraliza a imagem */
        display: block; /* Garante que ela seja exibida */
    }
}

/* Responsividade  Contacto */